#
# The execution mode (:devel, :test or :production)
#
# Note that running tests is not possible in :production mode, for safety
# reasons.
#
self.mode = :devel

#
# Information about CliPrEasy's database connection and configuration
#
self.database_info = { :adapter  => 'postgres',
                       :database => 'clipreasy', 
                       :user     => 'clipreasy', 
                       :password => 'clipreasy', 
                       :host     => 'localhost', 
                       :encoding => 'UTF-8' }
