self.mode = :devel
self.database_info = { :adpter  => 'postgres',
                       :database => 'clipreasy', 
                       :user     => 'clipreasy', 
                       :password => 'clipreasy', 
                       :host     => 'localhost', 
                       :encoding => 'UTF-8' }
